
@{
    ViewBag.Title = "UnauthorizedAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--/404-->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="error_page">
            <h4>Sorry!!!</h4>
            <p>Only Admin(s) can access the Store Manager Controls.</p>
            
            <ul class="footer-social text-center mt-lg-4 mt-3">

                <li class="mx-2">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <span class="fab fa-google-plus-g"></span>
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <span class="fas fa-rss"></span>
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <span class="fab fa-vk"></span>
                    </a>
                </li>
            </ul>
            <a class="b-home" href="~/Home/Index">Back to Home</a>
        </div>

    </div>
</section>
<!--//404-->
