
@{
    ViewBag.Title = "Checkout Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/minicart.js"></script>
<script type="text/javascript">
    //goggles.minicart.reset();
    googles.cart.destroy();
</script>
@*@Html.Raw(TempData["removeCart"])*@
<div style="margin:30px;font-size:larger">
    <h2>Hurray!!! Checkout Complete</h2>

    <p>Thanks for your order!!! Your order number is: <strong>@Model</strong></p>
    <p>
        How about shopping for some more Products in our
        @Html.ActionLink("store", "Index", "Home")?
    </p>
</div>